.topnav {
  background-color: hsl(209, 23%, 22%);
  overflow: hidden;
}

.topnav li {
  float: left;
  color: hsl(0, 0%, 100%);
  font-size: 17px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  display: block;
}

/* .dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
} */
